{% extends "_base.html" %}
{% load static %}
{% block title %}Home{% endblock title %} 

{% block content %}
    <h1>Bello Lacava</h1>
    <img src="{% static 'images/Lacava.jpg' %}" alt="QUE BELLO" class="bookcover">
    {% if user.is_authenticated %}
        <p>Perdio la vinotinto {{ user.email }}</p>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Log Out</button>
        </form>
    {% else %}
        <p>Registrate!!! >:(</p>
        <a href="{% url 'login' %}">Log In</a>
        <a href="{% url 'signup' %}">Sign up</a>
    {% endif %}
{% endblock content %}